

body {
	width: 90%;
	margin: 0 auto;
	background: #ffcdd2;
    font-family: 'Arvo', serif;
}

header {
    background: rgb(219, 42, 58);
    height: 30%;
    border-radius: 5px;
    margin-top: 2%;
}
img {
	
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
}

i {
	margin: left;
}

footer {
    margin-top: 20px;
    border-radius: 5px;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 12;
    top: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}

.closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    a:hover {
        background: rgb(219, 42, 58);
        color: rgb(255,255,255);
    }

    .closebtn:hover {
        color: #fff;
        background: none;

    }
    
.sidenav a, .name-profile {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: #000;
    white-space: nowrap;
}
.sidenav a:hover{
    color: rgb(255,255,255)
}

.dark-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 11;
    display: none;
    top: 0;
    max-width: 1200px;
}


footer {
    background:#263238;
    
    
    
}

footer div {
    
    
    text-align: right;
    margin-right: 2%;

}

footer div p {
    
    font-size: 0.8em;
    color: #bdbdbd;
}
