.contenedor{
    margin:3%;
    padding :5%;
    background: #ffebee;
    border-radius: 15px;
}

.search {
	margin-top: 25px;
}


.search-bar {
	width: 100%;
	border-radius: 5px;
	height: 25px;
	background: #ffebee;

}
.contenedor  button {
	margin-top: 8px;
	margin-right: 10px;
}

.contenedor  label {
	display: block;
}